/* sotto i 1160px */
.container {
    width: 100%;
}

/* sotto i 576px */
@media screen and (max-width:576px) {

.container { 
    width: 100%;
}

.row {
    flex-direction: column;
}

.row.col {
    width: 100%;
    
}

.steps, .why-us, .row .col :last-child {
    margin-bottom: 0;
}

.why-us {
    background-color: #222;
    padding: 3rem 0;
}
}